doctype html
head
  title Chú sinh viên năm 7
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='../user.css')
  link(rel='stylesheet', type='text/css', href='../style.css')
  link(rel='icon', href='/images/logo2.jpg')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
  script(src='https://kit.fontawesome.com/443ff89b73.js', crossorigin='anonymous')
  link(rel='icon', href='images/logo2.jpg')

include ../component/navbar.pug
#cources.offset
  .fixed-background
    .dark.text-center.row.d-flex.justify-content-center
      .col-12
        h3.heading Đăng nhập
        .heading-underline
      .col-12.d-flex.justify-content-center
        //- .col-2//
        form.form.col-12.col-md-6(action="/auth/login", method="POST")
          if saygb
            .col-sm-12
              .p.alert.alert-warning.m-0.new-noti=saygb
          .form-group.row
            label.col-3.col-form-label.text-nowrap(for='email',style = 'font-weight:bold; font-size :1.2rem;' ) Email
            .col-sm-12
              input#email.form-control.btn.btn-outline-light( type='email',  value='@gmail.com',style = 'color : #1ebba3; font-weight : bold; font-size : 1rem;' name = 'email')
              small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.

          .form-group.row
            label#password.col-3.col-form-label.text-nowrap(for='inputName',style = 'font-weight:bold; font-size :1.2rem;') Password
            .col-sm-12
              input#password.form-control.btn.btn-outline-light( type='password',style = 'color : #1ebba3; font-weight : bold; font-size : 1rem;' name = 'password')
          .col-sm-12
            include ../component/err-noti.pug
          //- .form-group.form-check
          .d-flex.align-items-center.col-5
            button.btn.btn-light.btn-md.text-nowrap.mt-3(type='submit',style = 'margin-right: 80px') Log in
            //- a(href='/auth/forgotpassword')  Forgot password?
          .col-sm-12.mt-2
            a(href="/auth/facebook").btn.btn-block.btn-facebook.btn-social
              i.fa.fa-facebook
              | Log in with Facebook
          .col-sm-12.mt-2
            a(href="/auth/google").disabled.btn.btn-block.btn-google.btn-social.mt-3
              i.fa.fa-google
              | Log in with Google
          a.register.d-flex.mt-3.alert-link.text-light(href='/auth/register', role='alert' disabled='')
            | Đăng ký nếu chưa có tài khoản

//- script.
//-   $.ajax({
//-   url: '/auth/login',
//-   type: 'get',
//-   cache: false,
//-   data: { field1: 1, field2: 2 },
//-   success: function(data){
//-   alert('Success!')
//-   }
//-   , error: function(jqXHR, textStatus, err){
//-   alert('text status '+textStatus+', err '+err)
//-   }
//-   });
// Load Facebook SDK for JavaScript
#fb-root
script.
  window.fbAsyncInit = function() {
  FB.init({
  xfbml            : true,
  version          : 'v7.0'
  });
  };
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
// Your Chat Plugin code
.fb-customerchat(attribution='setup_tool', page_id='2405136319710067', theme_color='#fa3c4c', logged_in_greeting='Hi! Cho mình 1 nhận xét để  khích lệ và cải thiện web tốt hơn bạn nhé^^', logged_out_greeting='Hi! Cho mình 1 nhận xét để  khích lệ và cải thiện web tốt hơn bạn nhé^^')

script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js')
link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')





