doctype html
head
  title Chú sinh viên năm 7
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='../user.css')
  link(rel='stylesheet', type='text/css', href='../style.css')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
  script(src='https://kit.fontawesome.com/443ff89b73.js', crossorigin='anonymous')
  link(rel='icon', href='images/logo2.jpg')
include ../component/navbar.pug
#cources.offset
  .fixed-background
    .dark.text-center.row.d-flex.justify-content-center
      .col-12
        h3.heading Đăng nhập
        .heading-underline
      .col-12.d-flex.justify-content-center
        //- .col-2//
        form.form.col-12.col-md-6(action="/auth/login", method="POST")
          if saygb
            .col-sm-12
              .p.alert.alert-warning.m-0.new-noti=saygb
          .form-group.row
            label.col-3.col-form-label.text-nowrap(for='email',style = 'font-weight:bold; font-size :1.2rem;' ) Email
            .col-sm-12
              input#email.form-control.btn.btn-outline-light( type='email',  value='@gmail.com',style = 'color : #1ebba3; font-weight : bold; font-size : 1rem;' name = 'email')
              small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.

          .form-group.row
            label#password.col-3.col-form-label.text-nowrap(for='inputName',style = 'font-weight:bold; font-size :1.2rem;') Password
            .col-sm-12
              input#password.form-control.btn.btn-outline-light( type='password',style = 'color : #1ebba3; font-weight : bold; font-size : 1rem;' name = 'password')
          .col-sm-12
            include ../component/err-noti.pug
          //- .form-group.form-check
          .d-flex.align-items-center.col-5
            button.btn.btn-light.btn-md.text-nowrap.mt-3(type='submit',style = 'margin-right: 80px') Log in
            //- a(href='/auth/forgotpassword')  Forgot password?
          .col-sm-12.mt-2
            a(href="/auth/facebook").disabled.btn.btn-block.btn-facebook.btn-social
              i.fa.fa-facebook
              | Log in with Facebook
          .col-sm-12.mt-2
            a(href="/auth/google").disabled.btn.btn-block.btn-google.btn-social.mt-3
              i.fa.fa-google
              | Log in with Google
          a.register.d-flex.mt-3.alert-link.text-light(href='/auth/register', role='alert' disabled='')
            | Đăng ký nếu chưa có tài khoản
        




