doctype html
head
  title
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='style.css')
  link(rel='stylesheet', type='text/css', href='css/fixed.css')
  script(src='https://kit.fontawesome.com/443ff89b73.js', crossorigin='anonymous')
  script(src='https://unpkg.com/scrollreveal')
  script(async='', defer='', src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2')
.container.col-5
  h1.text-center Insert item
  form( action = "/CRUD/insert",  method = "POST" )
    .form-group
      label(for='id') ID
      input#id.form-control(type='text', name='id', placeholder='Enter id')
      label(for='name') Name
      input#name.form-control(type='text',  name='name', placeholder='Enter name', value='')
      label(for='url') Url
      input#url.form-control(type='text', name= 'url', placeholder='Enter url')
      label(for='field') Field
      input#field.form-control(type='text', name='field' placeholder='Enter field', value='toeic')
      label(for='type') Type
      input#type.form-control(type='text',  name='type', placeholder='Enter type',value='toeic')
    button.btn.btn-primary(type='submit') Submit
