if !userInfo 
  #avatar.btn-fixed
    a.btn.btn-primary.btn-sm.btn-course(href='/auth/login') Login/Register 
else

    .btn-fixed.d-flex.align-items-center
      .dropleft.btn-group
        button(style= "background-image : url(../../images/notification.png",data-toggle='dropdown',aria-haspopup="true", aria-expanded="false")#dropdownMenuButton.btn.btn-outlight-light.dropdown-toggle.noti-image
          if userInfo.noti.length < 7
            small#num-noti.badge.badge-danger.new-noti(onclick = "seen()")=userInfo.noti.length
          else
            small#num-noti.badge.badge-danger.new-noti(onclick = "seen()") 7+
        .dropdown-menu#hihi
          h5.dropdown-item(style = 'color: #11bba3; font-weight:bold', ) Thông báo
          div(data-spy="scroll", data-target="#hihi", data-offset="0")
            each noti in userInfo.noti
              small.dropdown-item.text-success=noti 

      .dropleft.btn-group
        button(style= "background-image : url(../../uploads/" + userInfo.avatar + ");",data-toggle='dropdown',aria-haspopup="true", aria-expanded="false")#dropdownMenuButton.btn.btn-primary.dropdown-toggle.avatar-image
        .dropdown-menu
          a.dropdown-item(style = 'color: #11bba3; font-size: 1.4rem; font-weight:bold',href='/user/profile' )=userInfo.name
          .dropdown-divider
          a.dropdown-item(href='/user/profile') Upload Avatar
          .dropdown-divider
          a.dropdown-item(href='/user/profile') Edit Profile
          .dropdown-divider
          h6.dropdown-item='Điểm hero: '+userInfo.donggop
          .dropdown-divider
          .dropdown-divider
          a.dropdown-item(href='/auth/logout') Log out
          .dropdown-divider
          a.dropdown-item(href='/author/support') Ủng hộ tác giả
    span.rank-fixed.text-warning.btn-fixed='HERO RANK :'+userInfo.rank
script.
  function seen(){
    document.getElementById('num-noti').innerHTML ='!';
  }