if !userInfo
  .btn-fixed
    //- a.btn.btn-warning.btn-sm.btn-course.mr-1.avatar-image(href='/mylist', target='_blank') My list
    a.btn.btn-primary.btn-sm.btn-course(href='/login', target='_blank') Login/Register 
else
  .dropleft.btn-group.btn-fixed
    button(style= "background-image : url(../uploads/" + userInfo.avatar + ");",data-toggle='dropdown',aria-haspopup="true", aria-expanded="false")#dropdownMenuButton.btn.btn-primary.dropdown-toggle.avatar-image
    .dropdown-menu
      h5.dropdown-item(style = 'color: #11bba3; font-weight:bold', )=userInfo.name
      a.dropdown-item(href='/user/profile') Update avatar 
      a.dropdown-item(href='user/profile') Profile
      .dropdown-divider
      a.dropdown-item(href='#') Change password
      .dropdown-divider
      a.dropdown-item(href='/logout') Log out