// start contact section
#contact.offset
  footer
    .row.justify-content-center
      .col-md-2
      .col-md-8.text-center
        img(src='../images/logo.png')
        p
          | G&#x1EED;i &dstrok;&#x1EC1; thi b&#x1EA1;n c&ograve;n gi&#x1EEF; trong m&aacute;y v&#x1EC1; FanPage FB &quot;CH&Uacute; SINH VI&Ecirc;N N&Abreve;M 7&quot; ho&#x1EB7;c email b&ecirc;n d&#x1B0;&#x1EDB;i, m&igrave;nh s&#x1EBD; t&#x1ED5;ng h&#x1EE3;p &dstrok;&#x1EC3; x&acirc;y d&#x1EF1;ng v&agrave;o b&#x1ED9; &dstrok;&#x1EC1; chung &dstrok;&#x1EC3; gi&uacute;p sinh vi&ecirc;n B&aacute;ch khoa ch&uacute;ng ta c&oacute; m&#x1ED9;t k&igrave; thi d&#x1EC5; d&agrave;ng h&#x1A1;n nh&eacute;^^!
      .col-md-2
      .col-12.text-center.info
        strong  Contact info 
        p
          | (888) 888-8888 
          br
          a(href='mailto:nang35352@gmail.com')
            | Email: nang35352@gmail.com
        a(href='https://www.facebook.com/SVNam7BKDN/', target='_blank')
          i.fab.fa-facebook-square  
        a(href='https://www.facebook.com/SVNam7BKDN/', target='_blank')
          i.fab.fa-twitter-square  
        a(href='https://www.youtube.com/watch?v=SYzqCr0C6z4&t=56s', target='_blank')
          i.fab.fa-youtube-square  

      .col-12.text-center.mt-2
        .fb-page(data-href='https://www.facebook.com/SVNam7BKDN/', data-tabs='timeline', data-width='273', data-height='140', data-small-header='true', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
          blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/SVNam7BKDN/')
            a(href='https://www.facebook.com/SVNam7BKDN/') Ch&uacute; Sinh Vi&ecirc;n N&abreve;m 7
      .col-12.text-center
        a(href='https://info.flagcounter.com/ikSZ')
          img(src='https://s01.flagcounter.com/countxl/ikSZ/bg_000000/txt_FFFFFF/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_1/pageviews_1/flags_0/percent_0/', alt='Flag Counter', border='0')

      hr.socket
      marquee(behavior='alternate')    &copy; C&aacute;m &#x1A1;n c&aacute;c b&#x1EA1;n &dstrok;&atilde; &dstrok;&#x1ED3;ng h&agrave;nh c&ugrave;ng Ch&uacute; sinh vi&ecirc;n n&abreve;m 7 ye ye ye ye 
// end contact section
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
