@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
	overflow-x:hidden; 
	font-family: 'Lato', sans-serif;
	color: #505962;
}

*{
	box-sizing: border-box;
}

.offset:before{
		display: block;
		content: "";
		height: 4rem;
		margin-top: -4rem;
}
/* -----------------------navigation------------------- */
.btn-fixed{
	position: absolute;
	top: 4rem;
	right: 1.4rem;
		
}
.navbar{
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .1rem;
	background: rgba(0,0,0,0.6)!important;
}

.navbar-brand img{
	height: 2rem;
}

.navbar-nav li {
	padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
	color:white;
	padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,.navbar-dark .navbar-nav .nav-link:hover{
	color:#11bba3;
}


/*------------------course section----------------- */

.fixed-background {
	background-image: url(images/bk.jpg);
	background-attachment: fixed;
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
}

.fixed-background h3{
	margin-bottom: 2rem;
}

.fixed-background p{
	margin-top: 1.5rem;
}


.dark {
	background: linear-gradient(143deg, rgba(28,28,28,0.75) 0%, rgba(212,178,111,0.75) 100%);
	color: white;
	padding: 7rem 2rem;
}

h3.heading {
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1.9rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.heading-underline{
	width: 3rem;
	height: .2rem;
	background-color: #1ebba3; 
	margin: 0 auto 2rem;
}


.heading-underline-long{
	width: 80%;
	height: .05rem;
	background-color: #1ebba3; 
	margin: .1rem auto 2rem;
}


.btn-course{
	width:100%;
	height: auto;
	margin-top: 1rem; 
}

.card-title{
	text-decoration: underline;
	color: white;
	font-size: 1rem; 
}

 .card-title:hover, .tips-title:hover,.course-title:hover{
	text-decoration: none;
	color: #11bba3;
	font-weight: bold;	
 }

.card{
	display: inline-flex;
	justify-content: center;
	background: rgba(0,0,0,0.08);
	border: none;
}

.text-muted {
	font-weight: initial;
	font-size: .85rem;
	color: white!important;
}


/*------------------client section----------------- */

/*------------------tips section----------------- */

.narrow{
	height: 100%;
	padding-top: 2rem;
	background-color:silver;
}

.tips-title{
	font-size: 1.1rem;
	color: white;
	font-size: 1.2rem;
	text-decoration: underline;

}

.video-object{
	padding-bottom: 2rem;
}

.jumbotron{
	margin-bottom: 0;
	padding: 2rem 0 3.5rem;
	border-radius: 0;
}

.top2-10 img{
	width: 80px;
	height: 80px;
}

.top1 img{
	width: 150px;
	height: 150px;
	border: .25rem solid #ffef66;
		animation-name: border_gold;
		animation-duration: 4s;
		animation-iteration-count: infinite; 
		animation-timing-function: linear;

}

@keyframes border_gold{
	0%{ border-color:  #e9ecef; }
	12.5% { border-color: #ffef66;}
	25%{ border-color:  #e9ecef; }
	37.5% { border-color:  #ffef66;}
	50%{ border-color:  #e9ecef; }
	67.5% { border-color: #ffef66;}
	75%{ border-color:  #e9ecef; }
	87.5% { border-color:  #ffef66;}
	100%{ border-color:  #e9ecef; }
	
}

.text-top #top-name{
	color : #11bba3;
	font-size: 1.4rem;
}

.text-top #top1-name{
	color : #11bba3;
	font-size: 1.6rem;
}

.crown-top1{
	font-size: 3.2rem;
	color: #ffef66;
}


.crown-top2{
	font-size: 1.6rem;
	color: #ffef66;
}


 blockquote i{
	color: #1ebba3!important;
	margin: 1rem;
}

.clients-hr{
	border-top:.05rem solid #1ebba3;
}

/*contact section*/

footer{
	background-color: #40474e;
	color: white;
	padding: 2rem 0 2rem;
}

footer img {
	height: 3rem;
	margin: 1.5rem 0;
}

footer a{
	color: white;
}

footer i{
	font-size: 1.6rem;
	margin: 1.2rem .5rem 0 0;
}

footer i:hover{
	color:#1ebba3!important;
}

hr.socket{
	width: 100%;
	border-top: .2rem solid #666b71;
	margin-top: 3rem;
}



/*----------- subs page-------------------------------------------------*/

.sub-list{
	justify-content: center;
	margin: 1rem 0;
}

.sub-component{
  	margin-top: 5px;
	border: 1px solid;
	border-color: rgba(0,0,0,0);
 	background-color: rgba(1,1,1,0.5);
}

.sub-component i{
	padding :  2px 8px;
}

.sub-title{
	font-size: 1.1rem;
	color: white;
}

.sub-component .sub-title:hover{
	color: #11bba3;
	text-decoration: none;
}


.sub-list .sub-component i:hover{
	color: yellow;
	font-size: 1.2rem;
	
}

.search-input{
	position: relative;
	text-align: center;
	width: 20%;
	color: white;
	font-size: 1.2rem;
	background: rgb(22,204,238);
background: linear-gradient(143deg, rgba(22,204,238,1) 0%, rgba(20,162,185,1) 21%, rgba(209,189,34,1) 74%, rgba(212,178,111,1) 100%);
}

.search-form button {
	position: relative;
	border: none; 
	right: 33px;
	background-color: rgba(0,0,0,0);
	font-size: 1.1rem;

}
.search-form button {
	color: white ;
}


.header-list-img{
	margin: 70px 10px 20px 10px;
}
.margin-bottom-pagination{
	margin-bottom: 120px;
	margin-top: 15px; 
}

/*....profile  */

.profile-image{
	display:flex;
	justify-content: center;
	width: 180px;
	height: 180px;
	color: white ;
	padding: 5px;
	border-radius: 50%;
	background-size: cover;
	background-position: center; 
	
}

.profile-image:hover, .avatar-image:hover{
	background-size: 120%;

}
.avatar-image{
	width: 60px;
	height: 60px;
	background-position: center;
	background-size: cover; 
	border-radius: 50%;
}

.dropleft .dropdown-toggle::before {
    display: none
}

/*test nhan pham zone -------------------------------------*/

#testnhanpham{
    user-select: none;
     border: none;
}

#testnhanpham i {
    font-size: 4rem;
   outline:none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

#testnhanpham .redBird{
	color: #CB4335;
}

#testnhanpham .greenBird{
	color: #7CB342;
}

#testnhanpham span {
	font-size: 2rem;
    font-family: sans-serif;
    color:#F44336 ;
    text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);  
      font-weight: bold ;
}

#testnhanpham .typeText{
    animation-name: type;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes type{
	10% { opacity: 1; }
	20% { opacity: 0; }
	30% { opacity: 1; }
	40% { opacity: 0; }
	50% { opacity: 1; }
	60% { opacity: 0; }
	70% { opacity: 1; }
	80% { opacity: 0; }
	90% { opacity: 1; }
	100% { opacity: 0;}

}


.redBackground p {
	color: silver;

}

.greenBackground p {
	color: silver;
}


#red {
	left: 100px; 
	top: 100px;
	position: absolute;
    /*backdrop-filter: blur(5px); */
    border-radius: 50%;
}

#red:hover{
    /*backdrop-filter: blur(5px);*/
    color: #7CB342;
}

#green {
    /*backdrop-filter: blur(5px);*/
    border-radius: 50%;
}

#green:hover {
	 color: #CB4335;
    /*backdrop-filter: blur(5px); */
}

.redBackground{
	display: flex;
	flex-direction: column;
}

.redBackground:hover p{
	color: #7CB342 ;
		
}

.greenBackground:hover p{
	color: #CB4334 ;
		
}

.greenBackground{
	display: flex;
	flex-direction: column;
}

.main{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	border: none;
    border-radius: 6px;
	width: 50%;
	height: 50%;
	margin: auto;
}


























@media (max-width: 767px){
	.caption h1{
	font-size: 2.3rem;
	letter-spacing: .15rem;
	padding-bottom: .5rem;
}

h3.heading {
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: .8rem;
}

.caption h3{
	font-size: 2rem;
	padding-bottom:1.6rem; 
}

.btn-lg{
	padding: .5rem 1rem;
	font-size: 1.1rem;
}

.narrow h1{
	font-size:1.5rem;
}

.clients img{
	max-width: 50%;
	display: block;
	margin: 0 auto;
}

.text-muted {
	font-weight: initial;
	font-size: .6	5rem;
	color: white!important;

}

.info{
	font-size: 1rem;
}

/*------- daicuong page media---------- */
.sub-title{
	font-size: 1rem;
}


.search-input{
	width: 60%;
}


.avatar-image{
	width: 3.2rem;
	height: 3.2rem;
	
}


.top2-10 img{

	width: 4rem;
	height: 4rem;
	
}

.top1 img{
	width: 6rem;
	height: 6rem;
	
}

.text-top #top-name{
	/*color : #11bba3;*/
	font-size: 1.2rem;
}

.text-top #top1-name{
	/*color : #11bba3;*/
	font-size: 1rem;
}

.crown-top1{
	font-size: 1.8rem;
	
}

.crown-top2{
	font-size: 1.2rem;
	
}


.heading-underline-long{
	width: 90%;
}

.truyenthuyet{
	font-size: .6rem;
}

}