@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
	overflow-x:hidden; 
	font-family: 'Lato', sans-serif;
	color: #505962;
}

*{
	box-sizing: border-box;
}

.offset:before{
		display: block;
		content: "";
		height: 4rem;
		margin-top: -4rem;
}
/* -----------------------navigation------------------- */
.btn-fixed{
	position: absolute;
	top: 4rem;
	right: 1rem;
}
.navbar{
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .1rem;
	background: rgba(0,0,0,0.6)!important;
}

.navbar-brand img{
	height: 2rem;
}

.navbar-nav li {
	padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
	color:white;
	padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,.navbar-dark .navbar-nav .nav-link:hover{
	color:#11bba3;
}


/*------------------course section----------------- */

.fixed-background {
	background-image: url(images/bk.jpg);
	background-attachment: fixed;
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
}

.fixed-background h3{
	margin-bottom: 2rem;
}

.fixed-background p{
	margin-top: 1.5rem;
}


.dark {
	background: linear-gradient(143deg, rgba(28,28,28,0.75) 0%, rgba(212,178,111,0.75) 100%);
	color: white;
	padding: 7rem 2rem;
}

h3.heading {
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1.9rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.heading-underline{
	width: 3rem;
	height: .2rem;
	background-color: #1ebba3; 
	margin: 0 auto 2rem;
}

/*.btn-course{
	margin: .2rem 0;
	width: 99%;
	
}*/

.card-title{
	text-decoration: underline;
	color: white;
	font-size: 1rem; 
}

 .card-title:hover, .tips-title:hover,.course-title:hover{
	text-decoration: none;
	color: #11bba3;
	font-weight: bold;	
 }

.card{
	display: inline-flex;
	justify-content: center;
	background: rgba(0,0,0,0.08);
	border: none;
}

.text-muted {
	font-weight: initial;
	font-size: .85rem;
	color: white!important;
}


/*------------------client section----------------- */

/*------------------tips section----------------- */

.narrow{
	height: 100%;
	padding-top: 2rem;
	background: linear-gradient(143deg, rgba(28,28,28,0.75) 0%, rgba(212,178,111,0.75) 100%);
}

.tips-title{
	font-size: 1.1rem;
	color: white;
	font-size: 1.2rem;
	text-decoration: underline;

}

.video-object{
	padding-bottom: 2rem;
}

.jumbotron{
	margin-bottom: 0;
	padding: 2rem 0 3.5rem;
	border-radius: 0;
}

.clients img{

	width: 200px;
	height: 200px;
	border-radius: 50%;
}


 blockquote i{
	color: #1ebba3!important;
	margin: 1rem;
}

.clients-hr{
	border-top:.05rem solid #1ebba3;
}

/*contact section*/

footer{
	background-color: #40474e;
	color: white;
	padding: 2rem 0 2rem;
}

footer img {
	height: 3rem;
	margin: 1.5rem 0;

}

footer a{
	color: white;
}

footer i{
	font-size: 1.6rem;
	margin: 1.2rem .5rem 0 0;
}

footer i:hover{
	color:#1ebba3!important;
}

hr.socket{
	width: 100%;
	border-top: .2rem solid #666b71;
	margin-top: 3rem;
}



/*----------- subs page-------------------------------------------------*/

.sub-list{
	justify-content: center;
	margin: 1rem 0;

 	
}

.sub-component{
  	margin-top: 5px;
	border: 1px solid;
	border-color: rgba(0,0,0,0);
 	background-color: rgba(1,1,1,0.5);
}

.sub-component i{
	padding :  2px 8px;
}

.sub-title{
	font-size: 1.1rem;
	color: white;
}

.sub-component .sub-title:hover{
	color: #11bba3;
	text-decoration: none;
}


.sub-list .sub-component i:hover{
	color: yellow;
	font-size: 1.2rem;
	
}

.search-input{
	position: relative;
	text-align: center;
	/*border-radius: 10px;*/
	width: 20%;
	color: white;
	font-size: 1.2rem;
	background: rgb(22,204,238);
background: linear-gradient(143deg, rgba(22,204,238,1) 0%, rgba(20,162,185,1) 21%, rgba(209,189,34,1) 74%, rgba(212,178,111,1) 100%);
}

.search-form button {
	position: relative;
	border: none; 
	right: 33px;
	background-color: rgba(0,0,0,0);
	font-size: 1.1rem;

}
.search-form button {
	color: white ;
}






@media (max-width: 767px){
	.caption h1{
	font-size: 2.3rem;
	letter-spacing: .15rem;
	padding-bottom: .5rem;
}

h3.heading {
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: .8rem;
}

.caption h3{
	font-size: 2rem;
	padding-bottom:1.6rem; 
}

.btn-lg{
	padding: .5rem 1rem;
	font-size: 1.1rem;
}

.narrow h1{
	font-size:1.5rem;
}

.clients img{
	max-width: 50%;
	display: block;
	margin: 0 auto;
}

.text-muted {
	font-weight: initial;
	font-size: .6	5rem;
	color: white!important;

}

.info{
	font-size: 1rem;
}

/*------- daicuong page media---------- */
.sub-title{
	font-size: 1rem;
}


.search-input{
	width: 60%;
}

}
