head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(http-equiv='Content-Type', content='text/html; charset=ISO-8859-1')
  link(rel='icon', href='/images/logo2.jpg')

  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='style.css')
  script(src='https://kit.fontawesome.com/443ff89b73.js', crossorigin='anonymous')
  script(src='https://unpkg.com/scrollreveal')
  script(async='', defer='', src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2')
  title sv7
include ../component/avatar.pug
include ../component/navbar.pug
      
#cources.offset
  .fixed-background
    .row.dark.text-center
      .col-12
        h3.heading  ĐỀ THI BÁCH KHOA
        .heading-underline
      .col-12.row
        .col-12.col-md-3
          a.btn.btn-outline-light.btn-course.text-nowrap.btn-lg(href='/daicuong') Đề thi đại cương
        .col-12.col-md-3
          a.btn.btn-outline-light.btn-course.text-nowrap.btn-lg(href='/chuyennganh') Đề chuyên ngành
        .col-12.col-md-3
          a.btn.btn-outline-light.btn-course.text-nowrap.btn-lg(href='/avnl')  A.Văn năng lực
        .col-12.col-md-3
          a.btn.btn-outline-light.btn-course.text-nowrap.btn-lg(href='/toeic')  Toeic Ielts Free 
      .more-list.col-12.row
        .col-lg-6.col-12.pt-5
          .card.mb-lg-5(style='max-width: 540px;')
            .row.no-gutters
              .col-4
                a(href='/hocdan')
                  img.card-img(src='images/guitar.jpg', alt='')
              .col-8
                .card-body
                  a.course-title(href='/hocdan')
                    h6.card-title H&#x1ECC;C GUITAR
                  p.card-text-md
                    small.text-muted CON &Dstrok;&#x1AF;&#x1EDC;NG NHANH NH&#x1EA4;T &Dstrok;&Acirc;M TH&#x1EB2;NG &Dstrok;&#x1EBE;N TIM CRUSH
        .col-lg-6.col-12.pt-5
          .card.mb-lg-5(style='max-width: 540px;')
            .row.no-gutters
              .col-4
                a(href='/laptrinh')
                  img.card-img(src='images/it.jpg')
              .col-8
                .card-body
                  a.course-title(href='/laptrinh')
                    h6.card-title H&#x1ECC;C L&#x1EAC;P TR&Igrave;NH
                  p.card-text
                    small.text-muted
                      | &Dstrok;&#x1EA7;y &dstrok;&#x1EE7; c&aacute;c kh&oacute;a h&#x1ECD;c &amp; l&#x1ED9; tr&igrave;nh t&#x1EEB; c&#x1A1; b&#x1EA3;n &dstrok;&#x1EBF;n n&acirc;ng cao l&#x1EAD;p tr&igrave;nh, ch&#x1EC9;nh s&#x1EED;a &#x1EA3;nh, c&aacute;c k&#x1EF9; n&abreve;ng v&agrave; c&ocirc;ng c&#x1EE5; hay ho gi&uacute;p cu&#x1ED9;c s&#x1ED1;ng b&#x1EA1;n th&ecirc;m tuy&#x1EC7;t v&#x1EDD;i h&#x1A1;n
    // end rơw dark
  // end fixed background
// end cources section
// start clients section
include ../component/top-rank.pug       
// end row
// end jumbotron
// end clients
// start tips section

include ../component/testnhanpham.pug

// end tips section
include ../component/userDonggop.pug
include ../component/footer.pug
script.
  window.sr = ScrollReveal();
  sr.reveal('.jumbotron',{duration:1000});
  sr.reveal('.container-fluid',{duration:1000});
  sr.reveal('#testnhanpham',{duration:1000});
  sr.reveal('.row',{duration:1000});
  sr.reveal('.offset',{duration:1000});

script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')

script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js')
link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')




