head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='../../style.css')
  link(rel='icon', href='/images/logo2.jpg')
  script(src='https://kit.fontawesome.com/443ff89b73.js', crossorigin='anonymous')
  script(src='https://unpkg.com/scrollreveal')
  script(async='', defer='', src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2')
 
  title sv7
include ../component/navbar.pug
#cources.offset
  .fixed-background
    .dark.text-center.row
      .col-12
        h3.heading=userInfo.name + '\'s profile'
        .heading-underline
      .col-3
      form.col-12.col-md-6
        .avt.col-12.mb-5.d-flex.flex-column.align-items-center
          a(data-fancybox='gallery', href="/uploads/"+userInfo.avatar)
              img(src='/uploads/'+userInfo.avatar ).profileOtherAvatar
          button.btn.btn-outline-light.btn-lg(type='button', disabled='').mt-3 Profile picture

        .form-group.row
          label.col-3.col-md-2.col-form-label(for='inputName') Name
          .col-sm-10
            input#inputName.form-control.btn.btn-outlght-light( type='text',  value=userInfo.name,style = 'color : #1ebba3; font-weight : bold; font-size : 1.5rem;' name = 'name' disabled='')

        .form-group.row
          label.col-md-2.col-3.col-form-label.text-nowrap(for='inputDonggop3') Đề đã đóng góp
          .col-sm-10
            input#inputDonggop3.btn.btn-outlight-light.form-control(type='text', value=userInfo.donggop, disabled="disabled",style = 'color : #1ebba3; font-weight : bold; font-size : 1.5rem;' name = 'donggop')

        .form-group.row
          label.col-md-2.col-3.col-form-label.text-nowrap(for='inputDonggop3') Hero rank
          .col-sm-10
            input#inputDonggop3.btn.btn-outlight-light.form-control(type='text', value='Rank '+userInfo.rank, disabled="disabled",style = 'color : #1ebba3; font-weight : bold; font-size : 1.5rem;' name = 'rank')
        
        fieldset.form-group
          .row
            legend.col-form-label.col-sm-2.pt-0 Gender
            .col-sm-10.row
              if userInfo.gender =='Male'
                .form-check.col-6
                  input#male.form-check-input(type='radio',style = 'font-size: 1.5rem; pointer-events : none; opacity : 0.5', name='gender', value='Male', checked='' )
                  label.form-check-label(for='male') Male
                   
                .form-check.col-6
                  input#female.form-check-input(type='radio', name='gender', value='Female' disabled='')
                  label.form-check-label(for='female') Female
              else
                .form-check.col-6
                  input#male.form-check-input(type='radio',style = 'font-size: 1.5rem;', name='gender', value='Male' disabled='')
                  label.form-check-label(for='male') Male
                   
                .form-check.col-6
                  input#female.form-check-input(type='radio', name='gender', value='Female', checked = ''. style='pointer-events : none; opacity : 0.5' )
                  label.form-check-label(for='Female') Female 
include ../component/footer.pug
           

script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js')
link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')